$primary-light-50: #f0f3fe;
$primary-light-100: #dce2fd;
$primary-light-200: #c1cdfc;
$primary-light-300: #97adf9;
$primary-light-400: #6684f4;
$primary-light-500: #425aef;
$primary-light-600: #2c3ae4;
$primary-light-700: #2427d1;
$primary-light-800: #2423aa;
$primary-light-900: #222486;
$primary-light-950: #1a1952;

$primary-light-50-rgb: 240 243 254;
$primary-light-100-rgb: 220 226 253;
$primary-light-200-rgb: 193 205 252;
$primary-light-300-rgb: 151 173 249;
$primary-light-400-rgb: 102 132 244;
$primary-light-500-rgb: 66 90 239;
$primary-light-600-rgb: 44 58 228;
$primary-light-700-rgb: 36 39 209;
$primary-light-800-rgb: 36 35 170;
$primary-light-900-rgb: 34 36 134;
$primary-light-950-rgb: 26 25 82;

$primary-dark-50: #fef8ec;
$primary-dark-100: #fbecca;
$primary-dark-200: #f7d790;
$primary-dark-300: #f2b94b;
$primary-dark-400: #f0a52f;
$primary-dark-500: #e98517;
$primary-dark-600: #ce6211;
$primary-dark-700: #ab4412;
$primary-dark-800: #8b3515;
$primary-dark-900: #722d15;
$primary-dark-950: #421506;

$primary-dark-50-rgb: 254 248 236;
$primary-dark-100-rgb: 251 236 202;
$primary-dark-200-rgb: 247 215 144;
$primary-dark-300-rgb: 242 185 75;
$primary-dark-400-rgb: 240 165 47;
$primary-dark-500-rgb: 233 133 23;
$primary-dark-600-rgb: 206 98 17;
$primary-dark-700-rgb: 171 68 18;
$primary-dark-800-rgb: 139 53 21;
$primary-dark-900-rgb: 114 45 21;
$primary-dark-950-rgb: 66 21 6;
